 &tx
     RA=2.95,RB=3.245,RR=5.5,RC=2.95
     BB=6.0,rIPs=16.7,rIPe=16.7
     MDITST=1,MDINTT=1,MDINIT=1,PROFN1=10
     PTe0=40.0,PTea=3.0,PTeDIV=0.5,rLT=0.1
     PTi0=40.0,PTia=3.0,PTiDIV=0.5
     Pn0=1.6,Pna=0.4,PNeDIV=0.1
     De0=0.02,Di0=0.0
     Chie0=0.3,Chii0=0.3
     rMue0=0.3,rMui0=0.3
     FSDFIX=1.0,FSCDBM=0.0
     FSBOHM=0.0,PROFD=4.0,FSPSCL=1.0
     PNBHT1=30.0 PNBHP=0.0 PRFH=0.0
     PA=2.5, Zeff=2.0, rGASPF=0.975, rGamm0=0.8, V0=1.96e5
     ntmax=50,ngrstp=5,ngtstp=2,ntstep=50,ngvstp=2
     NRMAX=60,CMESH=10,WMESH=0.05
     RG1=10.0,icmax=10,modeav=0,idiag=0
     DT=1.D-3,MODEG=2,eps=1.D-3,MODEGL=1
     MDLPCK=1, FSNC=1.0, FSLC=0.0, FSRP=0.0, FSNF=1.0
     MDLWTB=0, WPE0=0.0, WPI0=0.0
     FSLP=0.3, FSLTE=0.001, FSLTI=0.05
     icmax=100 ntmax=1000 ngrstp=100 ngtstp=5 ngvstp=5 ntstep=500
 &end
