# Files and directories to exclude from Git repository
*~
*.[oa]
*.mod
*.nl
*.gs
*.eps
*.dat
*.data
*.i
*.optrpt
*.aux
*.log
*.dvi
*.toc
*.out
.DS_Store
fort.*
gsdump*
eqdata*
trdata*
make.header
lib/testbes
lib/testbrn
lib/testell
lib/testfem
lib/testfft
lib/testgrd
lib/testgrf
lib/testspl
lib/testspl3d
lib/testqsort
dp/dp
dp/dpparm
eq/eq
eq/eqparm
equ/eq
fp/fp
fp/fpparm
mtxp/make.mtxp
mtxp/testbnd
mtxp/testbndc
mtxp/testbnd
mtxp/testdmumps
mtxp/testksp
mtxp/testpcg
mtxp/testzmumps
mtxp/libmtxksp.i90
ob/ob
pic/pic
pl/pl
pl/plparm
ti/ti
tools/ufread
tools/ufread3
tools/guiread
tools/usplit
tot/tot
tot/totparm
tr/tr2
tr/tr3
tr/trparm
tx/tx2
tx/tx
tx/txparm
w1/w1
w1/w1parm
wf2/wf
wf2/wfparm
wf2d/wf
wf2d/wfparm
wf2dt/wf
wf2dt/wfparm
wf3/wf
wf3/wfparm
wf3d/wf
wf3d/wfparm
wi/wi
wi/wiparm.nl
wim/wi
wm/wm
wm/wmparm
wmf/wm
wmf/wmparm
wmfn/wm
wmfn/wmparm
wmx/wm
wr/wr
wr/wrparm
wq/wq
adpost/test-adpost
