40
  1  1  '../ADF11/acd12/acd12_h.dat'
  1  2  '../ADF11/scd96/scd96_h.dat'
  1  4  '../ADF11/prb96/prb96_h.dat'
  1  8  '../ADF11/plt96/plt96_h.dat'
  2  1  '../ADF11/acd96/acd96_he.dat'
  2  2  '../ADF11/scd96/scd96_he.dat'
  2  4  '../ADF11/prb96/prb96_he.dat'
  2  8  '../ADF11/plt96/plt96_he.dat'
  4  1  '../ADF11/acd96/acd96_be.dat'
  4  2  '../ADF11/scd96/scd96_be.dat'
  4  4  '../ADF11/prb96/prb96_be.dat'
  4  8  '../ADF11/plt96/plt96_be.dat'
  5  1  '../ADF11/acd89/acd89_b.dat'
  5  2  '../ADF11/scd89/scd89_b.dat'
  5  4  '../ADF11/prb89/prb89_b.dat'
  5  8  '../ADF11/plt89/plt89_b.dat'
  6  1  '../ADF11/acd96/acd96_c.dat'
  6  2  '../ADF11/scd96/scd96_c.dat'
  6  4  '../ADF11/prb96/prb96_c.dat'
  6  8  '../ADF11/plt96/plt96_c.dat'
  7  1  '../ADF11/acd96/acd96_n.dat'
  7  2  '../ADF11/scd96/scd96_n.dat'
  7  4  '../ADF11/prb96/prb96_n.dat'
  7  8  '../ADF11/plt96/plt96_n.dat'
 10  1  '../ADF11/acd96/acd96_ne.dat'
 10  2  '../ADF11/scd96/scd96_ne.dat'
 10  4  '../ADF11/prb96/prb96_ne.dat'
 10  8  '../ADF11/plt96/plt96_ne.dat'
 18  1  '../ADF11/acd89/acd89_ar.dat'
 18  2  '../ADF11/scd89/scd89_ar.dat'
 18  4  '../ADF11/prb89/prb89_ar.dat'
 18  8  '../ADF11/plt89/plt89_ar.dat'
 26  1  '../ADF11/acd93/acd93_fe.dat'
 26  2  '../ADF11/scd93/scd93_fe.dat'
 26  4  '../ADF11/prb89/prb89_fe.dat'
 26  8  '../ADF11/plt89/plt89_fe.dat'
 74  1  '../ADF11/acd50/acd50_w.dat'
 74  2  '../ADF11/scd50/scd50_w.dat'
 74  4  '../ADF11/prb50/prb50_w.dat'
 74  8  '../ADF11/plt50/plt50_w.dat'
