8
 1  1  '../acd96/acd96_h.dat'
 1  2  '../scd96/scd96_h.dat'
 6  1  '../acd96/acd96_c.dat'
 6  2  '../scd96/scd96_c.dat'
18  1  '../acd89/acd89_ar.dat'
18  2  '../scd89/scd89_ar.dat'
74  1  '../acd50/acd50_w.dat'
74  2  '../scd50/scd50_w.dat'
